<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Flask{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    {% endblock %}
</head>
<body>
    {% import "bootstrap/wtf.html" as wtf %}

    <div class="container">
        {% for message in get_flashed_messages(with_categories=true) %}
        <div class="alert alert-{{ message[0] }} alert-dismissible fade show" role="alert">
            {{ message[1] }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}

        {% block content %}
        {% endblock %}
    </div>

    {% block body %}
    <div class="container">
        {% block page_content %}
        {% if form %}
        {{ wtf.quick_form(form, button_map={'submit': 'custom-btn'}) }}
        {% endif %}
        {% endblock %}
    </div>
    <nav class="navbar navbar-default">
        <div class="container">
            <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_authenticated %}
                <li>
                    <a href="{{ url_for('main.user', username=current_user.username) }}">Profile</a>
                </li>
                <br>
                <li><a href="{{ url_for('auth.logout') }}" class="custom-btn">Log Out</a></li>
                <br>
                {% else %}
                <li class="login"><a href="{{ url_for('auth.login') }}" class="custom-btn">Log In</a></li>
                <br>
                <li class="home"><a href="{{ url_for('main.index') }}" class="custom-btn">Home</a></li>
                <br>
                {% endif %}
                {% if current_user.can(Permission.MODERATE) %}
                    <li><a href="{{ url_for('main.moderate') }}">Moderate Comments</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
    {% endblock %}
    
    {% block scripts %}

    {% endblock %}

    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
</body>
</html>
